<!DOCTYPE html>
<html lang="/en">
<head>
	<meta charset="/utf-8">
	<title></title>

<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/favicon.png" rel="shortcut icon" type="image/x-icon">
<link href="/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
<link href="/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
<link href="/favicon-96x96.png" rel="icon" type="image/png" sizes="96x96">

<link href="/apple-touch-icon.png" rel="apple-touch-icon">
<link href="/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
<link href="/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
<link href="/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
<link href="/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
<link href="/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
<link href="/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
<link href="/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
<link href="/safari-pinned-tab.svg" rel="mask-icon" color="#5bbad5">

<link href="/manifest.json" rel="manifest">
<link href="/android-chrome-36x36.png" rel="icon" type="image/png" sizes="36x36">
<link href="/android-chrome-48x48.png" rel="icon" type="image/png" sizes="48x48">
<link href="/android-chrome-72x72.png" rel="icon" type="image/png" sizes="72x72">
<link href="/android-chrome-96x96.png" rel="icon" type="image/png" sizes="96x96">
<link href="/android-chrome-144x144.png" rel="icon" type="image/png" sizes="144x144">
<link href="/android-chrome-192x192.png" rel="icon" type="image/png" sizes="192x192">
<link href="/android-chrome-256x256.png" rel="icon" type="image/png" sizes="256x256">
<link href="/android-chrome-384x384.png" rel="icon" type="image/png" sizes="384x384">
<link href="/android-chrome-512x512.png" rel="icon" type="image/png" sizes="512x512">

<link href="/browserconfig.xml" rel="browserconfig">
<meta content="/mstile-70x70.png" name="msapplication-square70x70logo">
<meta content="/mstile-144x144.png" name="msapplication-TileImage">
<meta content="/mstile-150x150.png" name="msapplication-square150x150logo">
<meta content="/mstile-310x150.png" name="msapplication-wide310x150logo">
<meta content="/mstile-310x310.png" name="msapplication-square310x310logo">
<meta content="#000000" name="msapplication-TileColor">
<meta content="#ffffff" name="theme-color">

</head>
<body>

</body>
</html>

android-chrome-36x36.png
android-chrome-48x48.png
android-chrome-72x72.png
android-chrome-96x96.png
android-chrome-144x144.png
android-chrome-192x192.png
android-chrome-256x256.png
android-chrome-384x384.png
android-chrome-512x512.png
apple-touch-icon-57x57.png
apple-touch-icon-60x60.png
apple-touch-icon-72x72.png
apple-touch-icon-76x76.png
apple-touch-icon-114x114.png
apple-touch-icon-120x120.png
apple-touch-icon-144x144.png
apple-touch-icon-152x152.png
apple-touch-icon-180x180.png
apple-touch-icon.png
favicon-16x16.png
favicon-32x32.png
favicon-96x96.png
favicon.ico
favicon.png
mstile-70x70.png
mstile-144x144.png
mstile-150x150.png
mstile-310x150.png
mstile-310x310.png
safari-pinned-tab.svg
