	/* Pricing Table*/
	.single-price, .single-table {
		margin-bottom: 35px;
	}

	.single-price .plan-price {
		height: 110px;
		padding-top: 7px;
	}

	.single-price .plan-price:after {
		border-width: 110px;
		margin-left: -110px;
	}

	.single-table:before {
		border-width: 0 145px 60px;
	}

	.single-table .btn-signup:after {
		border-width: 78px 145px 0;
	}

	/* Coming soon */
	#countdown li.angle-one {
		left: 25px;
	}

	#countdown li.angle-two {
		left: 10px;
	}

	#countdown li.angle-three {
		right: 10px;
	}

	#countdown li.angle-four {
		right: 25px;
	}

	#countdown li > span {
		font-size: 14px;
		line-height: 14px;
		margin-top: 10px;
	}

	#countdown li.angle-two > span,
	#countdown li.angle-four > span {
		margin-top: 30px;
	}

	#subscribe {
		font-size: 14px;
		text-align: center;
	}

	#newsletter .form-control {
		font-size: 14px;
		height: 40px
	}

	#newsletter i {
		font-size: 25px;
	}

	#countdown li.angle-one span.minutes,
	#countdown li.angle-one .minute {
		margin-left: 0
	}

	/* Contact-us2 CSS*/
	#map-section .contact-info {
		width: 100%;
	}

	#gmap {
		height: 390px;
	}

	#contact-form .btn-submit {
		width: 60%;
	}

	/* 404 error CSS*/
	#error-page {
		padding: 50px 25px;
	}

	#error-page h2 {
		font-size: 24px;
	}

	.btn-error {
		font-size: 10px;
		padding: 12px 11px;
	}
