	.nav.navbar-nav > li:hover > ul.sub-menu{
		display: block;
		-webkit-animation: fadeInUp 400ms;
		animation: fadeInUp 400ms;
	}

	ul.sub-menu {
		position: absolute;
		top: 60px;
		left: 0;
		background: #fff;
		padding: 10px 0;
		width: 240px;
		box-shadow: none;
		display: none;
		z-index: 999;
		border: 1px solid #00aeef;
	}

	#header .navbar-nav li ul.sub-menu li a {
		padding-left: 20px;
	}
