/* ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** *
 * ***** ^ *****   Blog Default    ***** ^ ***** *
 * ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** */

.single-blog.timeline
{
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	border-bottom: 0;
	position: relative;
	padding-bottom: 0;
}

.timeline .post-content { padding: 20px 20px 0; }

.post-thumb
{
	margin: -1px -1px 0;
	position: relative;
	overflow: hidden;
}

.timeline .post-thumb img { width: 100%; }

.post-thumb iframe
{
	width: 100%;
	min-height: 270px;
	border: 0;
}

.post-overlay
{
	position: absolute;
	top: 50%;
	display: none;
	width: 94px;
	height: 140px;
	margin-top: -70px;
	overflow: hidden;
}

.post-overlay span
{
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -60px;
	-webkit-animation: fadeInUp 400ms;
	animation: fadeInUp 400ms;
	z-index: 9;
}

.post-overlay span:before
{
	position: absolute;
	bottom: 0;
	border-style: solid;
	border-width: 60px;
	content: "";
	border-color: transparent transparent #0884d5 transparent;
	z-index: -1;
	cursor: initial;
}

.post-overlay span a
{
	font-size: 30px;
	color: #fff;
	background: transparent;
	padding: 0;
	margin-left: 50px;
}

.single-blog:hover .post-overlay
{
	display: block;
	-webkit-animation: fadeIn 300ms;
	animation: fadeIn 300ms;
}

.timeline-divider
{
	position: relative;
	padding-top: 50px;
}

.timeline-divider:before
{
	position: absolute;
	top: 0;
	content: "";
	border-left-style: solid;
	border-left-width: 1px;
	height: 100%;
	border-left-color: #0099AE;
	left: 50%;
	margin-left: -2px;
}

.timeline-blog .col-sm-6.padding-top { padding-top: 70px; }
.post-content { padding: 20px 0; }

.timeline-date .btn-common
{
	font-size: 18px;
	color: #4a4a4a;
	font-weight: 300;
	border-radius: 0;
	padding: 17px 40px;
}

.arrow-right { position: relative; }

.arrow-right:after
{
	position: absolute;
	right: 1px;
	content: "";
	top: 15px;
	background: url(../img/blog-left.png);
	width: 43px;
	height: 54px;
}

.arrow-left { position: relative; }

.arrow-left:before
{
	position: absolute;
	left: -2px;
	content: "";
	top: 86px;
	background: url(../img/blog-right.png);
	width: 43px;
	height: 54px;
}

.post-title { margin-top: 0; }
.post-title a,
.comments-number a { color: #686868; }
.post-content .post-author { margin-top: 0; }

.post-content  .post-author a
{
	font-weight: 300;
	font-size: 14px;
	color: #0099AE;
}

a.read-more
{
	color: #0099AE;
	font-weight: 300;
}

a.read-more:hover { color: #01707F; }

.post-bottom
{
	border-top: 1px solid #eeeeee;
	padding-top: 10px;
	margin-top: 20px;
	margin: 20px -20px 0;
	padding: 20px 20px 0;
}
