/* ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** *
 * *****     Blog with right sidebar       ***** *
 * ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** */

.single-blog { padding-bottom: 30px; }

.single-blog .post-bottom
{
	border-bottom: 1px solid #eeeeee;
	padding-top: 10px;
	padding-bottom: 10px;
}

.single-blog .post-overlay span
{
	left: 0;
	top: 0;
	margin-left: 0;
	width: 94px;
	height: 140px;
	background: url(../img/blog-arrow.png);
	-webkit-animation: fadeInLeft 400ms;
	animation: fadeInLeft 400ms;
}

.single-blog .post-overlay span a
{
	margin-left: 8px;
	font-weight: 700;
	font-size: 36px;
	line-height: 18px;
	position: absolute;
	top: 50px;
}

.single-blog .post-overlay span a small
{
	font-size: 16px;
	font-weight: 300;
	margin-left: 5px;
}

.single-blog .post-overlay span:before
{
	border-color: transparent;
	border-width: 0;
}

.post-nav
{
	margin: 0;
	padding: 0;
}

.post-nav li a
{
	color: #0099AE;
	padding: 0;
	text-align: left;
}

.post-nav li a i
{
	color: #0099AE;
	margin-right: 8px;
}

.post-nav li a:hover { background: none; }
.blog-padding-right { padding-right: 35px; }

.blog-pagination
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 55px;
}
