/* ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** *
 * *****     Blog with right sidebar       ***** *
 * ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** */

.masonery_area .single-blog { }
.masonery_area .single-blog .post-thumb { height: auto; }
.masonery_area .single-blog .post-title { margin-top: 5px; }
.masonery_area .single-blog .post-title a { font-size: 20px; }
.masonery_area .single-blog .post-thumb img { height: auto; }

.masonery_area .single-blog .post-bottom
{
	border-top: 0;
	padding-top: 0;
	margin-top: 15px;
}

/* Audio CSS */
.audiojs
{
	background: #C03035;
	height: 45px;
	width: 100%;
}

.audiojs .scrubber
{
	background: #fff;
	height: 8px;
	border-top: 0;
	width: 170px;
	margin-top: 19px;
	margin-left: 12px;
	border-radius: 10px;
}

.audiojs .play-pause
{
	background: #a92b2f;
	width: 68px;
	height: 45px;
	padding: 0;
	padding-left: 24px;
	padding-top: 10px;
	border-right: 0;
}

.audiojs .time { display: none; }

.audiojs .progress
{
	background: #A92B2F;
	height: 8px;
	border-radius: 10px;
}

.audiojs .loaded
{
	background: #fff;
	height: 8px;
	border-radius: 10px;
}

