/* ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** *
 * ***** ^ *****   Blog Details    ***** ^ ***** *
 * ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** */

.navbar-nav.post-nav li { margin-right: 60px; }
.single-blog.blog-details .post-content { padding-top: 30px; }
.single-blog.blog-details .post-bottom { margin-top: 55px; }

.blog-share
{
	margin-top: 40px;
	background: #f5f5f5;
	display: inline-block;
	padding: 2px 0;
}

span.stMainServices,
span.stButton_gradient,
.stButton .chicklets { height: 24px !important; }
.author-profile.padding { padding-top: 50px; }

.author-profile .col-sm-2 img
{
	width: 100%;
	border-left: 3px solid #0099AE;
}

.author-profile h3
{
	margin-top: 0;
	color: #3a424c;
}

.author-profile p
{
	color: #3a424c;
	font-weight: 400;
}

.author-profile span a { color: #C03035; }
.response-area { border-bottom: 0; }

.response-area h2
{
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 20px;
}

.post-comment
{
	padding-left: 70px;
	padding-top: 36px;
	border-top: 1px solid #f1e8dd;
}

.post-comment .pull-left img
{
	margin-right: 60px;
	border-left: 3px solid #0884d5;
}

.post-comment .media-body
{
	padding-top: 6px;
	border-bottom: 0;
	padding-bottom: 50px;
}

.post-comment .media-body p { margin-top: 10px; }

.post-comment .media-body span i
{
	color: #C03035;
	margin-right: 10px;
}

.post-comment .media-body span a
{
	color: #C03035;
	font-weight: 700;
}

.post-comment .media-body .post-nav li a { font-weight: 300; }
.parrent .media-list { margin-left: 190px; }

.parrent .post-comment
{
	padding-left: 0;
	margin-left: 70px;
}
