/* ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** *
 * ***** ^ *****    Coming Soon    ***** ^ ***** *
 * ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** */

.logo-image
{
	display: block;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 95px;
}

.logo-image img { display: inline-block; }

#coming-soon
{
	background-image: url("../img/coming-soon/bg.png");
	background-position: center top;
	background-repeat: repeat-x;
	padding: 40px 0;
	overflow: hidden;
}

#coming-soon .social-link { margin-top: 35px; }

.time-count
{
	display: block;
	text-align: center;
}

.time-count ul { padding-left: 0; }

#countdown
{
	display: block;
	max-width: 960px;
	margin: 80px auto 100px;
}

#countdown li
{
	float: left;
	display: block;
	width: 25%;
	text-align: center;
	height: 254px;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: contain !important;
	position: relative;
	color: #fff;
}

#countdown li.angle-one
{
	background-image: url(../img/coming-soon/1.png);
	left: 120px;
}

#countdown li.angle-two
{
	background-image: url(../img/coming-soon/2.png);
	left: 40px;
}

#countdown li.angle-three
{
	background-image: url(../img/coming-soon/3.png);
	right: 40px;
}

#countdown li.angle-four
{
	background-image: url(../img/coming-soon/4.png);
	right: 120px;
}

#countdown li > span
{
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
	color: #fff;
	display: inline-block;
	margin-top: 40px;
}

#countdown li.angle-two > span,
#countdown li.angle-four > span { margin-top: 80px; }

#subscribe
{
	background-color: #565656;
	color: #FFFFFF;
	padding: 40px 0 50px;
}

#subscribe h2
{
	color: #fff;
	text-transform: uppercase;
}

#subscribe .fa-envelope-o
{
	color: #0884d5;
	margin-right: 5px;
}

#subscribe .form-control
{
	background-color: transparent;
	height: 52px;
	color: #fff;
	border: 2px solid #00aeef;
}

#newsletter
{
	margin-top: 35px;
	position: relative;
}

#newsletter i
{
	color: #0884d5;
	font-size: 36px;
	position: absolute;
	right: 12px;
	top: 7px;
}

.newsletter p
{
	color: #919191;
	font-size: 12px;
	margin-top: 10px;
}

#coming-soon-footer
{
	padding: 45px 0;
	line-height: 15px;
	overflow: hidden;
}

#coming-soon-footer a { color: #d89b4e; }
#coming-soon-footer a:hover { color: #b38040; }
