/* ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** *
 * ***** ^ *****   Dropdown menu   ***** ^ ***** *
 * ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** */

ul.sub-menu
{
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

#header .navbar-nav li ul.sub-menu li a
{
	color: #818285;
	padding: 5px 0;
	font-size: 13px;
	display: block;
	text-transform: capitalize;
}

#header .navbar-nav li ul.sub-menu li .active
{
	background: #00aeef;
	color: #fff;
	position: relative;
}

#header .navbar-nav li ul.sub-menu li .active i
{
	position: absolute;
	font-size: 56px;
	top: -13px;
	color: #0884d5;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-right { left: -3px; }
#header .navbar-nav li ul.sub-menu li .active .fa-angle-left { right: -3px; }

#header .navbar-nav li ul.sub-menu li a:hover,
#header .navbar-nav li ul.sub-menu li a:focus
{
	background: #00aeef;
	color: #fff;
}

.fa-angle-down { padding-left: 5px; }

.scaleIn
{
	-webkit-animation-name: scaleIn;
	animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes scaleIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}
