/* ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** *
 * *****   Portfolio with right sidebar    ***** *
 * ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** */

.sidebar h3
{
	color: #404040;
	margin-top: 0;
	border-bottom: 3px solid #ececec;
	margin-bottom: 6px;
	padding-bottom: 8px;
}

.sidebar-item { margin-bottom: 48px; }
.categories .navbar-stacked li { border-bottom: 1px solid #ececec; }
.categories .navbar-stacked li:last-child { border-bottom: 0px solid #ececec; }

.categories .navbar-stacked li a
{
	font-size: 16px;
	color: #6a6a6a;
	padding: 8px 0;
	padding-left: 0;
}

.categories .navbar-stacked li a:hover
{
	background: none;
	margin-left: 20px;
	color: #0099AE;
	opacity: 1;
}

.categories .navbar-stacked li.active a
{
	color: #0099AE;
	padding-left: 20px;
}

.categories .navbar-stacked li.active a:before
{
	position: absolute;
	content: "";
	border-color: transparent transparent transparent #0099AE;
	border-width: 8px;
	border-style: solid;
	left: 0;
	top: 13px;
	margin-top: 0;
	z-index: 0;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.categories .navbar-stacked li.active a:after
{
	position: absolute;
	content: "";
	border-color: transparent transparent transparent #fff;
	border-width: 6px;
	border-style: solid;
	left: 0px;
	top: 15px;
	margin-top: 0;
	z-index: 1;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.sidebar-item .media
{
	border-bottom: 1px solid #ececec;
	padding-bottom: 10px;
	padding-top: 21px;
	margin-top: 0;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.sidebar-item .media:last-child
{
	border-bottom: 0px solid #ececec;
	padding-bottom: 0;
}

.sidebar-item .media:hover
{
	border-left: 2px solid #0099AE;
	padding-left: 5px;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.sidebar-item .media:hover.media .media-body h4 a
{
	color: #0099AE;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.sidebar-item .media .media-body h4
{
	margin-top: 0;
	margin-bottom: 8px;
}

.sidebar-item .media .media-body h4 a
{
	color: #7d7d7d;
	font-size: 16px;
}

.sidebar-item .media .media-body p
{
	color: #b4b4b4;
	font-size: 12px;
}

.tag-cloud .nav-pills { margin-top: 16px; }

.tag-cloud .nav-pills li
{
	margin: 0;
	margin-top: 6px;
	margin-right: 4px;
}

.tag-cloud .nav-pills li a
{
	font-size: 14px;
	font-weight: 300;
	padding: 5px 15px;
	background: #bbbbbb;
	color: #fff;
	border-radius: 3px;
}

.tag-cloud .nav-pills li a:hover { background: #0099AE; }

.popular ul.gallery
{
	padding: 0;
	list-style: none;
	margin: 10px -8px;
}

.popular ul.gallery li
{
	display: block;
	width: 33.33%;
	float: left;
	padding: 8px;
}

.popular ul.gallery li a { display: block; }

.popular ul.gallery li a img
{
	width: 100%;
	transition: border-radius 300ms ease-in;
	-webkit-transition: border-radius 300ms ease-in;
}

.popular ul.gallery li a img:hover { border-radius: 60px; }

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item { z-index: 2; }

.isotope-hidden.isotope-item
{
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item
{
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope
{
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item
{
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition
{
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
