/* ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** *
 * ***** ^ ***** Portfolio Details ***** ^ ***** *
 * ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** */

#portfolio-information.padding-top { padding-top: 100px; }

.project-name h2
{
	margin-top: 0;
	margin-bottom: 15px;
}

#related-work .title
{
	margin-bottom: 55px;
	margin-top: 10px;
}

.navbar-default
{
	background: none;
	padding: 0;
}

.navbar-default li a
{
	font-size: 12px;
	padding: 0;
	padding-right: 15px;
}

.navbar-default li a i { padding-right: 8px; }

.navbar-default li a:hover
{
	color: #0884d5;
	background: none;
}

.skills .navbar-default,
.client .navbar-default { margin-left: 35px; }

.live-preview .btn-common
{
	margin-top: 21px;
	padding: 13px 45px;
}
