/* ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** *
 * ***** ^ *****    Price Table    ***** ^ ***** *
 * ***** ^ ***** ^ ***** ^ ***** ^ ***** ^ ***** */

.price-table
{
	margin-top: 88px;
	margin-bottom: 96px;
}

.single-price ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}

.table-heading
{
	background-color: transparent !important;
	color: #FFFFFF !important;
	overflow: hidden;
	padding: 0 !important;
	text-align: center;
}

.single-price.price-one .plan-name,
.single-price.price-two .plan-name,
.single-price.price-three .plan-name,
.single-price.price-four .plan-name
{
	color: #fff;
	font-size: 20px;
	margin-bottom: 0;
	padding: 10px 0;
	text-transform: capitalize;
}

.single-price.price-one .plan-name { background-color: #0e76bc; }
.single-price.price-two .plan-name { background-color: #ac2429; }
.single-price.price-three .plan-name { background-color: #ed8d1b; }
.single-price.price-four .plan-name { background-color: #6c825f; }

.single-price .plan-price
{
	color: #fff;
	float: none;
	font-size: 14px;
	height: 110px;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	z-index: 5;
	padding-top: 15px;
}

.plan-price .dollar-sign { font-size: 18px; }
.plan-price .price { font-size: 24px; }

.plan-price .month
{
	display: block;
	margin-top: -6px;
}

.price-one .plan-price:after,
.price-two .plan-price:after,
.price-three .plan-price:after,
.price-four .plan-price:after
{
	border-style: solid;
	border-width: 110px;
	content: "";
	height: 0;
	left: 50%;
	position: absolute;
	top: 0;
	width: 0;
	z-index: -1;
	margin-left: -110px;
}

.price-one .plan-price:after { border-color: #0d6fb1 transparent transparent; }
.price-two .plan-price:after { border-color: #ac2429 transparent transparent; }
.price-three .plan-price:after { border-color: #e78817 transparent transparent; }
.price-four .plan-price:after { border-color: #5f7452 transparent transparent; }

.single-price ul li,
.single-table ul li
{
	padding: 12px 18px;
	background-color: #f7f7f7;
	margin-bottom: 5px;
	color: #696969;
}

.single-price ul li span,
.single-table ul li span { float: right; }

.price-one .btn-buynow,
.price-two .btn-buynow,
.price-three .btn-buynow,
.price-four .btn-buynow
{
	border-radius: 0;
	color: #fff;
	padding: 12px;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
	display: block;
}

.price-one .btn-buynow { background-color: #0d6fb1; }
.price-two .btn-buynow { background-color: #ac2429; }
.price-three .btn-buynow { background-color: #e78817; }
.price-four .btn-buynow { background-color: #5f7452; }
.price-one .btn-buynow:hover { background-color: #0a5a90; }
.price-two .btn-buynow:hover { background-color: #821b1e; }
.price-three .btn-buynow:hover { background-color: #c57413; }
.price-four .btn-buynow:hover { background-color: #48583e; }
.price-table2, .price-table3 { margin-bottom: 125px; }
.price-table4 { margin-bottom: 150px; }

.table-one .table-header,
.table-two .table-header,
.table-three .table-header,
.table-four .table-header
{
	overflow: hidden;
	padding: 20px;
	color: #fff;
}

.table-one .table-header { background-color: #0e76bc; }
.table-two .table-header { background-color: #c03035; }
.table-three .table-header { background-color: #ed8d1b; }
.table-four .table-header { background-color: #6c825f; }

.single-table
{
	position: relative;
	padding-top: 60px;
}

.table-one:before,
.table-two:before,
.table-three:before,
.table-four:before
{
	border-style: solid;
	border-width: 0 130px 60px;
	content: "";
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.table-one:before { border-color: transparent transparent #0d6fb1; }
.table-two:before { border-color: transparent transparent #ac2429; }
.table-three:before { border-color: transparent transparent #e78817; }
.table-four:before { border-color: transparent transparent #5f7452; }

.table-header h2
{
	color: #fff;
	float: left;
	font-size: 24px;
	margin-top: 7px;
}

.table-header .plan-price
{
	float: right;
	margin: 0;
	overflow: hidden;
	padding-top: 1px;
}

.single-table .btn-signup
{
	display: block;
	text-align: center;
	position: relative;
	z-index: 1;
}

.single-table ul
{
	margin: 0;
	padding: 0;
}

.table-one .btn-signup:after,
.table-two .btn-signup:after,
.table-three .btn-signup:after,
.table-four .btn-signup:after
{
	content: "";
	position: absolute;
	border-style: solid;
	border-width: 78px 130px 0;
	height: 0;
	left: 0;
	top: -1px;
	width: 100%;
	z-index: -1;
}

.table-one .btn-signup:after { border-color: #0d6fb1 transparent transparent; }
.table-two .btn-signup:after { border-color: #ac2429 transparent transparent; }
.table-three .btn-signup:after { border-color: #e78817 transparent transparent; }
.table-four .btn-signup:after { border-color: #5f7452 transparent transparent; }

.single-table .btn-signup a
{
	color: #fff;
	display: inline-block;
	overflow: hidden;
	padding: 20px 0 0 0;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.table-one .btn-signup:hover.btn-signup:after { border-color: #0b598d transparent transparent; }
.table-two .btn-signup.btn-signup:hover:after { border-color: #831c20 transparent transparent; }
.table-three .btn-signup.btn-signup:hover:after { border-color: #bd7014 transparent transparent; }
.table-four .btn-signup.btn-signup:hover:after { border-color: #3d4b35 transparent transparent; }
